.container {
  text-align: center;
  padding: 20px;
}

.heading {
  font-size: 1.5rem;
  padding: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-row-gap: 5rem;
  grid-column-gap: 5rem;
  justify-items: center;
}

.square {
  width: 23vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.square:hover {
  transform: scale(1.05);
}

.image {
  width: auto;
  height: auto;
  object-fit: fit-content;

}

.label {
  font-size: 1.2rem;
  color: #333;
  text-align: center;
}



@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .square {
    width: auto;
    height: auto;
    padding: 2rem;
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr; 
  }
}