.profileDetailPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f6f8;
  padding: 20px;
}

.container {
  max-width: 800px;
  width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.header {
  margin-bottom: 20px;
}

.title {
  font-size: 36px;
  font-weight: 1000;
}

.profileContent {
  display: flex;
  gap: 20px;
}

.profileSidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 280px;
}

.profileImage {
  width: 250px; 
  height: auto;
  margin-bottom: 15px;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rating {
  font-size: 20px;
  margin-bottom: 10px;
}

.friendButton {
  background-color: #C5B783;
  color: #000;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.friendButton:hover {
  background-color: #B59B5A; 
}

.profileDetails {
  flex-grow: 1;
}

.bioTitle{
  font-size: 24px;
  margin-bottom: 10px;
}

.bio {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.postsTitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.postsList {
  list-style-type: none;
  padding: 0;
}

.postItem {
  margin-bottom: 10px;
  font-size: 16px;
}

.messageButton {
  margin-top: 10px; 
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.messageButton:hover {
  background-color: #0056b3;
}
