.postingsPage {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  min-height: 100vh;
  background-color: #D9D1CF;
  padding: 20px;
}

.container {
  position: sticky;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  margin-top: 0px;
}

.search-bar{
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; /* Ensures the search bar takes full width */
  max-width: max-content; /* Sets a max width to keep it within bounds */
  margin-top: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  color: #333;
}

.postingsList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.postingCard {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 250px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  align-items: center;
  background-color: #fff;
  margin-bottom: 1rem;
  text-align: center;
}

.postingImage {
  width: 200px;
  height: 220px;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 15px;
}

.postingCardContent {
  display: flex;
  flex-direction: column;
}

.postingLink {
  text-decoration: none;
  color: inherit;
}

.postingName {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.postingDescription {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.postingPrice {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  color: #333;
}

.postingType {
  font-size: 14px;
  color: #333;
  margin-top: 5px;
}

.filters {
  display: flex;
  justify-content: center; /* Centers the filters horizontally */
  align-items: center; /* Aligns items vertically in the center */
  gap: 20px;
  margin-top: 4rem;
  flex-wrap: wrap;
  max-width: 100%; 
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 3rem;
}


.filters label {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 200px;
}

.filters input[type="number"],
.filters select {
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 0; 
  font-size: 16px; 
  margin-top: 5px; 
}

input[type="number"]:focus,
input[type="text"]:focus,
select:focus {
  border-color: #007bff; 
  outline: none; 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

.searchBar {
  padding: 15px 20px; 
  border: 1px solid #ccc;
  border-radius: 0; 
  font-size: 18px; 
  width: 100%; 
  max-width: 600px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: border-color 0.3s; 
  margin-top: 50px;
}

.searchBar:focus {
  border-color: #007bff; 
  outline: none; 
}

label {
  display: block;
  margin: 10px 0;
  font-weight: bold;
}

.offeringStyle {
  /* Styles for offering service type */
  background-color: #e0ffe0;
}

.requestingStyle {
  /* Styles for requesting service type */
  background-color: #ffe0e0;
}

.allStyle {
  /* Styles for all service type */
  background-color: #e0e0ff;
}