.postingsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f6f8;
  padding: 20px;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  margin-top: -220px; /* Match the margin from ProfileListPage */
}

.header {
  margin-bottom: 20px;
}

.title {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  color: #333;
}

.postingsList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.postingCard {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 250px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  align-items: center;
  background-color: #fff;
  margin-bottom: 1rem;
  text-align: center;
}

.postingImage {
  width: 250px;
  height: 250px;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 15px;
}

.postingCardContent {
  display: flex;
  flex-direction: column;
}

.postingName {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.postingDescription {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.postingPrice {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  color: #333;
}

.postingType {
  font-size: 14px;
  color: #333;
  margin-top: 5px;
}
