.profileDetailPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #d9d1cf;
  padding: 20px;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  color: #333;
}

.profileContent {
  display: flex;
  gap: 20px;
}

.profileSidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 280px;
}

.profileImage {
  width: 250px;
  height: auto;
  margin-bottom: 15px;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.rating {
  font-size: 20px;
  margin-bottom: 10px;
}

.friendButton {
  background-color: #c5b783;
  color: #000;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.friendButton:hover {
  background-color: #b59b5a;
}

.profileDetails {
  flex-grow: 1;
}

.bioTitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.bio {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.postsTitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.postsList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.postItem {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #ccc; /* Match the border color */
  border-radius: 8px; /* Match the border radius */
  width: 250px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Match the box shadow */
  align-items: center;
  background-color: #fff;
  margin-bottom: 1rem;
  text-align: center;
}

.postingLink {
  text-decoration: none; /* Remove underline from link */
  color: inherit; /* Ensure link text color matches surrounding text */
}

.postingLink * {
  text-decoration: none; /* Ensure no underline for all child elements */
}

.postingImage {
  width: 200px;
  height: 220px;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 15px;
}

.postingCardContent {
  display: flex;
  flex-direction: column;
}

.postingName {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.postingDescription {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.postingPrice {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  color: #333;
}

.postingType {
  font-size: 14px;
  color: #333;
  margin-top: 5px;
}

.messageButton {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.messageButton:hover {
  background-color: #0056b3;
}

.reviewsList {
  list-style: none;
  padding: 0;
}

.reviewItem {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.reviewContent {
  margin-bottom: 5px;
}

.reviewComment {
  font-size: 16px;
}

.reviewRating {
  font-weight: bold;
}

.reviewerName {
  font-style: italic;
  color: #555;
}

.reviewDate {
  font-size: 12px;
  color: #aaa;
  text-align: right;
}

.reviewButton {
  margin-top: 10px;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reviewButton:hover {
  background-color: #218838;
}

.editButton {
  background-color: #c5b783;
  color: #000;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.editButton:hover {
  background-color: #b59b5a;
}

.saveButton {
  background-color: #c5b783;
  color: #000;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.saveButton:hover {
  background-color: #b59b5a;
}

.textarea {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.viewFriendsButton {
  background-color: #c5b783;
  color: #000;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.viewFriendsButton:hover {
  background-color: #b59b5a;
}

.offeringStyle {
  background-color: #decfe3;
}

.requestingStyle {
  background-color: #d9ede7;
}

.offer_delivery {
  background-color: #c3a4a9c8;
}

.request_delivery {
  background-color: #bfd1df;
}