.postingDetailPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f6f8;
  padding: 20px;
}

.container {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.header {
  margin-bottom: 20px;
}

.title {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  color: #333;
}

.postingContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postingImage {
  width: 50%;
  height: auto;
  max-width: 200px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.postingDetails {
  text-align: center;
}

.postingDescription {
  font-size: 16px;
  margin-bottom: 10px;
}

.postingPrice {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.postingType {
  font-size: 14px;
  color: #666;
}

.purchaseButton {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.purchaseButton:hover {
  background-color: #218838;
}

.messageButton {
  margin-top: 20px; 
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.messageButton:hover {
  background-color: #0056b3;
}


.postingTimestamp {
  font-size: 0.9em;
  color: gray;
  margin-top: 10px;
}

.postingUser {
  font-size: 0.9em;
  color: #333;
  margin-top: 10px;
}

.textarea {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  width: 100%;
}

.editHeader {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.editModeContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.inlineFields {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.saveButton {
  background-color: #C5B783;
  color: #000;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.saveButton:hover {
  background-color: #B59B5A; 
}

.row {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.priceInputContainer {
  display: flex;
  align-items: center;
}

.dollarSign {
  margin-right: 5px;
  font-weight: bold;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  font-weight: bold;
  margin-bottom: 5px;
}

.editButton {
  background-color: #C5B783;
  color: #000;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.editButton:hover {
  background-color: #B59B5A; 
}

.deleteButton {
  background-color: #000;
  color: #C5B783;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #B59B5A; 
}