.postingDetailPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f6f8;
  padding: 20px;
}

.container {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.header {
  margin-bottom: 20px;
}

.title {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  color: #333;
}

.postingContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postingImage {
  width: 100%;
  height: auto;
  max-width: 600px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.postingDetails {
  text-align: center;
}

.postingDescription {
  font-size: 16px;
  margin-bottom: 10px;
}

.postingPrice {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.postingType {
  font-size: 14px;
  color: #666;
}

.purchaseButton {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.purchaseButton:hover {
  background-color: #218838;
}


.messageButton {
  margin-top: 20px; 
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.messageButton:hover {
  background-color: #0056b3;
}


.postingTimestamp {
  font-size: 0.9em;
  color: gray;
  margin-top: 10px;
}

.postingUser {
  font-size: 0.9em;
  color: #333;
  margin-top: 10px;
}
